<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56397164707-un5499g4q6i382fhknnto4inajve874j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56397164707-un5499g4q6i382fhknnto4inajve874j</string>
	<key>API_KEY</key>
	<string>AIzaSyAhmQx0pLUl1-DFPQonOw-jVbM_19CteU8</string>
	<key>GCM_SENDER_ID</key>
	<string>56397164707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task</string>
	<key>PROJECT_ID</key>
	<string>my-task-f4c6e</string>
	<key>STORAGE_BUCKET</key>
	<string>my-task-f4c6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56397164707:ios:cf81a5e9a36a82c7958f16</string>
</dict>
</plist>